@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

body {
    background: rgb(119, 119, 119);
    font-family: 'Stalinist One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    background: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 31vw;
    height:31vw;
}
.square {
    background: whitesmoke;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
.red {
background: rgba(255, 255, 255, 0.90);
}
.red:after {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "X";
    font-size: 50px; 
    color: red
    line-height: 100px;
    text-align: center;
}
.blue {
background: rgba(255, 255, 255, 0.90);
}
.blue:after {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "O";
    font-size: 50px;
    
    color: rgb(0, 0, 210);
    line-height: 100px;
    text-align: center;
}