body {
    background: rgb(119, 119, 119);
}
.grid-container {
    background: green;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30vw;
    height:30vw;
}
.square1 {
    background: purple;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.square2 {
    background: red;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.square3 {
    background: blue;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}